 #grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 
    "navbar navbar navbar"
    "left-sidebar main right-sidebar"
    "left-sidebar main2 right-sidebar";
}

#navbar {
  grid-area: navbar;
  position: sticky;
  height: 100px;
  background-color: green;
  display: flex;
  justify-content: space-between;
}

#navbar > div:first-child {
  grid-area: navbar1;
  color: aliceblue;
}

#navbar > div:last-child {
  grid-area: navbar2;
  color: aliceblue;
}
#right-sidebar-1 {
  margin-bottom: 10px; /* or whatever value you want for the space */
}

#left-sidebar {
  height: 100vh;
  grid-area: left-sidebar;
  background-color: azure;
  border: 1px solid black; 
}
#right-sidebar-1{
  background-color: aqua;height: 100vh;
  height: 50%;
}
#right-sidebar-2{

  background-color: rgb(255, 0, 102);
  height: 50%;
}
#row1  {
background-color: yellowgreen;
}
#row2  {
  background-color: yellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#row3  {
  background-color: violet;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: scroll;
  height: 200px;
}
#main{
  position: relative;
  overflow-y: scroll;
}
#main2{
  position: relative;
}
#left-sidebar, #right-sidebar {
  position: relative; 
}
@media only screen and (max-width: 600px) {
  #grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}


